{% extends 'base.html' %}

{% block head %}

<Title>Rally Main Page</Title>
{% endblock %}

{% block body %}

<div class="content">
    
    <div class="">
        <br>
        <center>
            <a href="rally">
                <button type="button" class="btn btn-success">
                    <h1 style="text-align: center;">
                        RALLY!
                    </h1>
                </button>
            </a>
            <br><br>
            {% for x in rallys %}
            <img src="{{x.imageAddress}}" style="width: 200px;height: 200px;">
            <h1><a href="{{x.link}}">{{x.name}}</a></h1>
            <h3>Date: {{x.eventDate}}</h3>
            <h4>Address: {{x.address}}</h4>
            <h4>{{x.description}}</h4>
            <br>
            {% endfor %}
        </center>
    </div>
    <br>
    <br>
    
</div>
{% endblock %} 


