{% extends 'base.html' %}

{% block head %}

<Title>Rally Main Page</Title>
{% endblock %}

{% block body %}

<div class="content">
    
    <div class="">
        <br>
        
        <center>
            <br>
            <a href="rally">
                <button type="button" class="btn btn-dark">
                    <h1 style="text-align: center;" >
                        RALLY!
                    </h1>
                </button>
            </a>
            <br><br>
            {% for x in rallys %}
                <img src="{{x.imageAddress}}" style="object-fit: cover;width: 200px;height: 200px;">
                <h1 class="handWriteTitle"><a href="{{x.link}}">{{x.name}}</a></h1>
                <h3 class="handWriteText">Date: {{x.eventDate}}</h3>
                    <div class="container">
                    <div class="row align-items-start">
                        <div class="col-sm"></div>
                        <div class="col-sm handWriteText" style=""><b>Description:</b>
                            {{x.description}}</div>
                        <div class="col-sm"></div>
                    </div>
                    </div>
                <h4 class="handWriteText">Address: {{x.address["street"]}}, {{x.address["city"]}}, {{x.address["state"]}} {{x.address["zip"]}}</h4>
                {% set val = rallyDist[x.idNum] %}
                <h4 class="handWriteText">Driving Travel Time:  {{val}}</h4>
                <button onclick="myFunction('{{x.idNum}}')" class="btn btn-success">Directions</button>
                {% set directval = rallyDirect[x.idNum] %}
                <br>
                <div style="display: none;" id={{x.idNum}}>
                    <div class="row align-items-start">
                        <div class="col"></div>
                        <div class="col handWriteTextSmall">{{directval|safe}}</div>
                        <div class="col"></div>
                    </div>
                    
                </div>
                <script>
                    function myFunction(y) {
                                var x = document.getElementById(y);
                                if (x.style.display === "none") {
                                    x.style.display = "block";
                                } else {
                                    x.style.display = "none";
                                }
                            }
                </script>
                
                <hr style="width:40%; background-color:white;">
                <br>

            {% endfor %}
        </center>
    </div>
    <br>
    <br>
    
</div>
{% endblock %} 


