{% extends 'base.html' %}

{% block head %}

<Title>Rally Successful</Title>
{% endblock %}

{% block body %}

<div class="content">
    
    <div class="">
        <br>
        <h1 class="title handWriteTitle">Rally Creation Successful!</h1>
        <h3 style="text-align: center;" class="handWriteText">Click <a href="mainPage">HERE</a> to go back to the main page!</h3>
        
        <h5 class="title handWriteText" >Redirecting to main page in 3 seconds...</h5>
        <script>
            var timer = setTimeout(function() {
                window.location='/mainPage'
            }, 3000);
        </script>

    </div>
    <br>
    <br>
    
</div>
{% endblock %} 


