{% extends 'base.html' %}

{% block head %}

<Title>Rally Settings</Title>
{% endblock %}

{% block body %}

<div class="content">
    
    <div class="textMainPage ">
        <br>
        <h1 class="title handWriteTitle">Rally Settings</h1>
        <h1 class="title handWriteTitle">Change your Topics/Interests</h1>
        
        <center>
            <form style="text-align: center;" action="/settings" method="POST">
                {% set i = namespace(value=0) %}
                    {% for x in topicsInput%}
                        {% set check = False %}
                        {% if x.idNum in currTopics %}
                            <input type="checkbox" name="topic{{x.idNum}}" checked>
                        {% else%}
                        <input type="checkbox" name="topic{{x.idNum}}">
                        {% endif%}
                        
                        <label for="topic{{x.idNum}}" class="handWriteText"> {{x.name}} </label>
                        <br>
                    {% endfor%}
                <br>
                <button type="submit" class="signupbtn btn btn-dark">Save Changes</button>
            </form>
            {% if saved %}
            <h5 style="color: rgb(50, 196, 6);text-align: center;">Changes Saved</h5>
            {% endif%} 
        </center>
        <br>
        <br>
    </div>
    <br>
    <br>
    
</div>
{% endblock %} 


