{% extends 'base.html' %}

{% block head %}

<Title>Rally Sign Up</Title>
{% endblock %}

{% block body %}

<div class="content">
    
    <div class="">
        <br>
        <h1 class="title">Sign up</h1>
        <form style="text-align: center;" action="/signup" method="POST">
            <h4>Login Info</h4>
            <label for="username">Username:</label><br>
            <input type="text" placeholder="Enter username" name="username" required><br>
            
            <label for="password">Password:</label><br>
            <input type="password" placeholder="Enter Password" name="password" required><br><br>
            
            <label for="repeatPassword">Re-Type Password:</label><br>
            <input type="password" placeholder="Enter Password Again" name="repeatPassword" required><br><br>
            <hr>
            <h4>Contact Info</h4>
            <label for="fname">First Name:</label><br>
            <input type="text" placeholder="First Name" name="fname" required><br>

            <label for="lname">Last Name:</label><br>
            <input type="text" placeholder="Last Name" name="lname" required><br>


            <label for="phone">Phone:</label><br>
            <input type="text" placeholder="Phone Number" name="phone" required><br>

            <label for="email">Email:</label><br>
            <input type="text" placeholder="Email" name="email" required><br>
            


            <hr>
            <h4>Interests</h4>
            <label for="topics">Topics/Interests (Can add specialized topics later):</label><br>
            <label for="topics">(Can add specialized topics later)</label><br>
            
            <input type="checkbox" name="topic1" >
            <label for="topic1"> Climate Change </label>

            <input type="checkbox" name="topic2" >
            <label for="topic2"> Racial Injustice </label>

            <input type="checkbox" name="topic3">
            <label for="topic3"> LGBTQ+ </label><br>

            <input type="checkbox" name="topic4">
            <label for="topic4"> Democratic Party </label>

            <input type="checkbox" name="topic5">
            <label for="topic5"> Republican Party </label>

            <input type="checkbox" name="topic6">
            <label for="topic6"> Education </label><br>

            <input type="checkbox" name="topic7">
            <label for="topic7"> Gender Inequality </label>
        
            <input type="checkbox" name="topic8">
            <label for="topic8"> Gun Violence </label>
            
            
            <br>
            <button type="submit" class="signupbtn">Sign Up</button>
        </form> 
        {% if ERROR %}
        <h5 style="color: red;text-align: center;">{{ERROR_MSG}}</h5>    
        {% endif %}
        <br>
        <br>
    </div>
    <br>
    <br>
    
</div>
{% endblock %} 


