{% extends 'base.html' %}

{% block head %}

<Title>Topic Create</Title>
{% endblock %}

{% block body %}

<div class="content">
    
    <div class="">
        <br>
        <h1 class="title handWriteTitle">Create a New Topic</h1>
        <form style="text-align: center;" action="/topicCreate" method="POST">
            <label for="name handWriteText">Topic Name: </label>
            <input type="text" placeholder="Topic Name" name="name" required><br>
            
            <label for="description handWriteText">Description:</label>
            <input type="text" placeholder="Enter description" name="description" required><br>
            
            <br>
            <button type="submit" class="signupbtn btn btn-dark">Create</button>
        </form> 
        
        
    </div>
    <br>
    <br>
    
</div>
{% endblock %} 


